:root {
  --primary-color: #213357;
  --gray-bg: #f1f5f9;
}
body {
  &.dashboard {
    background-color: var(--gray-bg);
  }
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.rounded {
  border-radius: 0.7rem !important;
}
.form-container,
.switchFormButton {
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.form-container {
  font-size: 14px;
  .error {
    input {
      border-color: red;
    }
    .errorMessage {
      color: red;
    }
  }
}
.form-container,
.switchFormButton {
  &.active {
    display: flex;
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  .form-wrapper {
    width: 900px;
  }
}
@media screen and (max-width: 768px) {
  .form-wrapper {
    min-width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .form-wrapper {
    /* height: 100%; */
    flex-grow: 1;
    width: 100%;
    border-radius: 0 !important;
  }
}
.form-step {
  #tasks-tab {
    background-color: var(--gray-bg);
    padding: 5px;
    border-radius: 0.5rem;
    margin-left: auto;
    color: gray;
    .nav-link {
      color: gray;
      &.active {
        background-color: white;
        color: black;
      }
    }
  }
  .tab-content {
    .form-check-label {
      display: block;
      min-height: 1.5rem;
      padding-left: 1.5em;
      margin-bottom: 1rem;
      background-color: var(--gray-bg);
      padding: 1rem;
      border-radius: 0.5rem;
      .form-check-input {
        margin-left: initial;
      }
    }
  }
}
.priarotyLabel {
  &.low {
    border: 1px solid gray;
  }
  &.md {
    background-color: black;
    color: white;
  }
  &.high {
    color: white;
    background-color: red;
  }
}
.add-task-step {
  display: none;
  &.active {
    display: flex;
  }
}
.tab-pane {
  .form-check-label {
    margin-bottom: 1rem;
  }
}
